.image-div {
	.image {
		margin-top: -20px;
	}
	button {
		float: right;
		background-color: transparent;
		padding: 0px;

		.remove-button {
			font-size: 30px;
			background-color: #cd5c5c;
			border-radius: 20px;
			color:  white;
		}

		.sent-button {
			font-size: 30px;
			background-color: #61C0BB;
			border-radius: 20px;
			color:  white;
		}
	}
}