<div id="main" class="primary-bg">        
    <div class="row justify-content-center">
        <div class="col-md-6 d-none d-sm-block">
            
        </div>
        <form class="col-md-6 col-12 p-5 b" (submit)="login()" id="first-div">
            <div class="row justify-content-center">
                <div class="col-md-8 col-12 p-5">
                    <div class="center"><img class="logo" src="/assets/imgs/surelog_logo.png"></div>

                    <br><br><br><br>

                    <input type="email" class="form-control" placeholder="EMAIL" name="email" [(ngModel)]="email" required>
                    
                    <br>

                    <input type="password" class="form-control" placeholder="PASSWORD" name="password" [(ngModel)]="password" required>

                    <br>

                    <button id="login-btn">
                        <strong>LOG IN</strong>
                    </button>

                    <br>

                    <p class="center">
                        <a routerLink="" class="text-light">Forgot Password?</a>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>