<app-navbar [title]="'ATTENDANCE'">
    <div content>
        <br>

        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button color="secondary" (click)="addTimein()">
                <ion-icon name="add-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab>
        
        <div class="px-3">
            <strong>Day type: </strong>{{(day_type ? day_type.type : 'Not Set') | titlecase}} <span class="smallest primary-text" (click)="selectDayType()"> (change)</span>
            <br>
            <strong>Show per Date: </strong>{{date | date: 'mediumDate'}} <span class="smallest primary-text" (click)="changeDate()"> (change)</span>            
        </div>

        <br>

        <div class="d-flex justify-content-center" *ngIf="attendance.length < 1">
            <br>
            No Data
        </div>

        <ion-card *ngFor="let att of attendance" (click)="timeOutOptions(att)">            
            <ion-card-header>
                <ion-card-title>{{att.name}}</ion-card-title>
                <ion-card-subtitle class="text-primary">Time in: {{att.time_in | date: 'medium'}}</ion-card-subtitle>
                <ion-card-subtitle class="text-primary" *ngIf="att.override == 1 && att.override_in_reason !== null">Time in override: {{att.override_in_reason}}</ion-card-subtitle>
                <ion-card-subtitle class="text-primary" *ngIf="att.time_out !== null">Time out: {{att.time_out | date: 'medium'}}</ion-card-subtitle>
                <ion-card-subtitle class="text-primary" *ngIf="att.override == 1 && att.override_out_reason !== null">Time in override: {{att.override_out_reason}}</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
    </div>
</app-navbar>